<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="icon" href="lg.png" sizes="32x32"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body class="text-center">
<div id="app">
    <div v-if="showMsg">
        <p class="display-1">{{ msg }}</p>
    </div>
    <div v-if="!showMsg">
        <p class="display-1">{{ body.content.username }}</p>
        <p>唯一标识符：{{ body.content.id }}</p>
        <p>电子邮箱：{{ body.content.email }}</p>
        <p>状态：{{ body.content.status | userStatus(body.content.status) }}</p>
    </div>
</div>
<script src="js/vue.min.js"></script>
<script src="js/vue-resource.min.js"></script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    function getRequest() {
        var url = window.location.search;
        var theRequest = {};
        if(url.indexof !== -1) { //判断是否有参数
            var str = url.substr(1);  //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
            var strs = str.split("&");  //截除“&”生成一个数组
            var len = strs.length;
            for(var i = 0; i < len; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    // 从model中获取在{ServiceRoot}/user/{username}这个URL中的username
    // 创建一个Vue的实例化对象，并且挂载至app
    var app = new Vue({
        el: '#app',
        data: {
            body: null,
            msg: '加载中...',
            showMsg: true
        },
        filters: {
            // 过滤器
            userStatus: function (status) {
                return status === 0 ? '正常' : '异常';
            }
        },
        created: function () {
            // 生命周期钩子：在创建时调用
            var url = 'http://' + window.location.host + '/mock/root.json'; // 远端服务器要开启跨域请求允许
            var requestParams = getRequest();
            var username = requestParams.username;
            if (username == null) {
                this.msg = '参数错误';
            } else {
                this.init(url, username);
            }
        },
        methods: {
            // 初始化方法
            init: function(url, username) {
                this.$http.get(url).then(function(response) {
                    this.body = response.body;
                    if (this.body.status === 0) {
                        this.msg = '找不到用户: ' + '"' + username + '"';
                    } else {
						this.body.content.username = username;
                        this.showMsg = false;
                    }
                });
            }
        }
    });
</script>
</body>
</html>