<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">

	<!-- 项目显示名 -->
    <display-name>helloworld</display-name>
	
	<!-- 上下文初始化参数 -->
	<context-param>
		<param-name>ContainerName</param-name>
		<param-value>fatcat</param-value>
	</context-param>
	
	<context-param>
		<param-name>ContainerVer</param-name>
		<param-value>0.1</param-value>
	</context-param>

    <!-- Servlet -->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>cn.edu.cuit.test.TestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>param1</param-name>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-name>param2</param-name>
            <param-value>value2</param-value>
        </init-param>
        <init-param>
            <param-name>param3</param-name>
            <param-value>value3</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
	
	<!-- 欢迎页列表 -->
    <welcome-file-list>
        <welcome-file>/index.htm</welcome-file>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
	
	<!-- 错误页面映射 -->
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/404.html</location>
    </error-page>
	
	<error-page>
        <error-code>500</error-code>
        <location>/ErrorPages/500.html</location>
    </error-page>
</web-app>
