<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
    <display-name>helloworld</display-name>
	
	<!-- 欢迎页列表 -->
    <welcome-file-list>
        <welcome-file>/index.htm</welcome-file>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
	
	<!-- 错误页面映射 -->
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/404.html</location>
    </error-page>
	
	<error-page>
        <error-code>500</error-code>
        <location>/ErrorPages/500.html</location>
    </error-page>
</web-app>
